version: "3.7"


services:
 app:
   image: pablokbs/getting-started:v2
   ports:
     - 3000:3000
   environment:
     MYSQL_HOST: mysql
     MYSQL_USER: root
     MYSQL_PASSWORD: secret
     MYSQL_DB: todos


 mysql:
   image: mysql:5.7
   volumes:
     - ./todo-mysql-data:/var/lib/mysql
   environment:
     MYSQL_ROOT_PASSWORD: secret
     MYSQL_DATABASE: todos


 elasticsearch:
   image: docker.elastic.co/elasticsearch/elasticsearch:7.17.1
   environment:
     - discovery.type=single-node
     - "ES_JAVA_OPTS=-Xms512m -Xmx512m"  # Ajusta la memoria según tus necesidades
   ports:
     - 9200:9200
   networks:
     - todo-app


 kibana:
   image: docker.elastic.co/kibana/kibana:7.17.1
   ports:
     - 5601:5601
   environment:
     ELASTICSEARCH_HOSTS: http://elasticsearch:9200
   networks:
     - todo-app

metricbeat:
  image: docker.elastic.co/beats/metricbeat:7.17.1
  user: root
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro  # Monta el socket de Docker dentro del contenedor
    - ./metricbeat.yml:/usr/share/metricbeat/metricbeat.yml  # Archivo de configuración de Metricbeat
  networks:
    - todo-app
  depends_on:
    - elasticsearch
  restart: always


networks:
 todo-app:
   driver: bridge
